.image-border {
    width: 500px;
    height: 800px;
    border: 2px solid;
    border-radius: 8px;
    margin: 5vh;
}


h1 {
    text-align: left;
    padding-top: 5vh;
}

p {
    text-align: center;
    border: 2px solid;
    border-radius: 8px;
    margin-right: 10vw;
}